body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: rgb(153, 153, 153);
}

h1 {
    text-align: center;
    font: italic normal bold 128px "Times New Roman", Times, serif;
    color: red;
}

ul {
    list-style-type: none;
}

.imagen{
    height: 180px;
    width: 320px;
    margin-right: 20px;
    border-radius: 10px;
}

.titulo{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}
.songContainer{
    padding: 20px;
    margin: 10px;
    border-radius: 16px;
    border: 1px solid;
    width: fit-content;
    display: flex;
    align-items: center;
}

.boton{
    font-size: 16px;
    height: 50px;
    width: 80px;
    color: white;
    border-radius: 15px;
    border-style: none;
    cursor: pointer;
}

.boton_verde{
    background-color: green;
}
.boton_verde:active {
    background-color: rgb(10, 156, 10); /* Nuevo color de fondo al hacer clic */
}

.boton_azul{
    background-color: deepskyblue;
}
.boton_azul:active {
    background-color: rgb(116, 220, 255); /* Nuevo color de fondo al hacer clic */
}

footer{
    margin-top: 48px;
    margin-bottom: 16px;
    text-align: center;
    font-size: 14px;
}